@import "App.css";


.forecasts {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.requested{
    display: none;
}

Button {
    background-color: #111827;
    border: 1px;
    border-radius: .75rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    touch-action: manipulation;
    margin: 10px;
}

.btn{
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}
